@import "tailwindcss";


@theme {
  --breakpoint-xs: 320px;
  --breakpoint-sm: 480px;
  --breakpoint-sm-md: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md-lg: 900px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Custom colors */
  --color-primary: #DC2626;
  --color-background-light: #FFFFFF;
  --color-surface-light: #F9FAFB;
  --color-text-light: #1F2937;
  --color-text-muted-light: #6B7280;
  --color-accent-light: #FEF2F2;

  /* Fonts */
  
  --font-body: "Poppins", sans-serif;

  /* Border radius */
  --radius-default: 0.5rem;
}

@source "../../../**/*.{html,py,js}";

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
